/* Custom font styling for use in index.html content */

@font-face {
    font-family: Movie-Times;
    src: url("MovieTimes-pg61.ttf")format("truetype");
}

@font-face {
    font-family: Due-Credit-Extra-Bold;
    src: url("DueCredit-ExtraBold.ttf")format("truetype");
}

@font-face {
    font-family: NixieOne;
    src: url("NixieOne-Regular.ttf")format("truetype");
}

/* Basic page styling */
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #333333;
    width: 100%;
    color: #ffffff;
    font-family: NixieOne;
    font-size: 1.25em;
}

header {
    width: 100%;
    height: auto;
    border-bottom: 10px solid #000;
    border-top: 10px solid #000;
    border-image: url("filmstrip.webp") 20 round;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#puzzle_body,
header {
    max-width: 90%;
    margin: 0 auto;
}

#puzzleBody {
    margin-top: 10px;
}

/* Font styling for page */
.hintTitle {
    font-weight: bold;
    font-size: 1.5em;
}

#answerContent h2,
.answerTitle {
    font-size: 1.75em;
}

#hintSection h2,
#answerContent h2,
.hintTitle,
.answerTitle {
    font-family: Due-Credit-Extra-Bold;
    font-weight: 200;
}

/* Styling of the logo within header and associated help button */
#logo {
    font-family: Movie-Times;
    font-size: 1.75em;
    font-weight: 100;
    align-self: flex-start;
    line-height: 1.2;
}

#innerLogo {
    font-size: 1.25em;
}

#help {
    font-size: 2em;
    align-self: flex-start;
    line-height: 1.2;
}
