/* Custom font styling for use in index.html content */

@font-face {
    font-family: Movie-Times;
    src: url("../fonts/MovieTimes-pg61.ttf")format("truetype");
}

@font-face {
    font-family: Due-Credit-Extra-Bold;
    src: url("../fonts/DueCredit-ExtraBold.ttf")format("truetype");
}

@font-face {
    font-family: NixieOne;
    src: url("../fonts/NixieOne-Regular.ttf")format("truetype");
}

/* Basic page styling */
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #333333;
    width: 100%;
    color: #ffffff;
    font-family: NixieOne;
    font-size: 1.25em;
}

header {
    width: 100%;
    height: auto;
    border-bottom: 10px solid #000;
    border-top: 10px solid #000;
    border-image: url("../images/filmstrip.webp") 20 round;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#puzzle_body,
header {
    max-width: 90%;
    margin: 1% auto;
}

#puzzleBody {
    margin-top: 10px;
}

/* Font styling for page */
.hintTitle {
    font-weight: bold;
    font-size: 1.5em;
}

#answerContent h2,
.answerTitle {
    font-size: 1.75em;
}

#hintSection h2,
#answerContent h2,
.hintTitle,
.answerTitle {
    font-family: Due-Credit-Extra-Bold;
    font-weight: 200;
}

/* Styling of the logo within header and associated help button */
#logo {
    font-family: Movie-Times;
    font-size: 1.75em;
    font-weight: 100;
    align-self: flex-start;
    line-height: 1.2;
}

#innerLogo {
    font-size: 1.25em;
}

#help {
    font-size: 2em;
    align-self: flex-start;
    line-height: 1.2;
}
/* Styling of the help overlay */
#overlay {
    position: fixed;
    /* Keeps display hidden until help button is clicked */
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#instructions {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    padding: 20px;
    color: white;
    background-color: #333333;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 20px;
}

#instructions i {
    float: right;
}

/* Styling of the answerContent form and autocomplete dropdown list */
#answerContent {
    position: relative;
    display: inline-block;
}

#answer {
    width: 200px;
    margin-right: 10px;
    padding: 5px;
}

#submitAnswer {
    padding: 5px;
}

#answers {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

#answers ul {
    height: 150px;
    overflow: scroll;
    width: 210px;
}

#answers li {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    list-style: none;
    color: #000000;
}

#answers li:hover {
    background-color: #e9e9e9;
}

/* Structuring of the archives and styling for the section & associated archive buttons */
#archive {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#archives {
    cursor: pointer;
}

.archiveButton {
    width: 50px;
    height: 50px;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;

}

.archiveButton p {
    display: table-cell;
    margin: auto;
    color: #000000;
}

/* Creation and initial styling of the guess boxes */
.answers {
    width: 9%;
    background-color: #666666;
    overflow: hidden;
    display: inline-block;
    margin: 7px;
}
.answers:after {
    content: "";
    display:inline-block;
    padding-bottom: 100%;
  }
/* Structure of the puzzle_layout section for mobile devices to allow for single column-display */
#puzzle_layout {
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

/* Grid positioning of image and hint sections */
#dailyImage {
    grid-area: 1 / 1;
    border: solid 10px #000000;
    line-height: 0;
}

#hintSection {
    grid-area: 2 / 1;
}

#dailyImage img {
    max-width: 100%;
}

#answerContent {
    line-height: 1.5;
}

#hintSection {
    text-align: center;
}

#hintSection li {
    list-style: none;
    line-height: 1.5;
}
/* Styling for higher resolution devices */
@media screen and (min-width:750px) {
    /* Switch puzzle layout from single-column to dual-column display */
    #puzzle_layout {
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-column-gap: 10px;
    }

    #dailyImage {
        grid-area: 1 / 1;
        width: 100%;
        border: solid 10px #000000;
        line-height: 0;
    }

    #hintSection {
        grid-area: 1 / 2;
    }

    /* Increase size of guess boxes beneath answer form */
    .answers {
        width: 4%;
    }

    /* Decrease size of help window to reduce screenspace usage */
    #instructions {
        width: 30%;
    }
}
